# Can ignore specific files
.DS_Store
.pyc
.mobi
.projectile
.rdb

# Use wildcards as well
*~
*.swp

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# SQLite databases
*.sqlite

# Virtual environment
venv

# logs
logs